/* GLOBAL BACKGROUND */

body{

    background:
        linear-gradient(
            135deg,
            #d3b3e9,
            #c2d3eb
        );

    min-height:100vh;

    font-family:'Segoe UI', sans-serif;
}
/* PAGE CONTAINER */

/* NAVBAR */

.custom-navbar{

    background:
        linear-gradient(
            90deg,
            #671f88,
            #1e3a8a
        );

    padding:15px 30px;

    box-shadow:
        0 4px 12px rgba(0,0,0,0.1);
}

.custom-table th{

    padding:16px;

    text-align:left;

    font-size:16px;

    font-weight:600;
}


/* TABLE ROWS */

.custom-table td{

    padding:16px;

    border-bottom:
        1px solid #e5e7eb;

    color:#374151;
}
