{% extends 'public_base.html' %}

{% load static %}

{% block content %}

<link
    rel="stylesheet"
    href="{% static 'css/login.css' %}"
>

<div class="login-wrapper">

    <div class="login-container">

        <!-- LEFT SIDE -->

        <div class="login-left">

            <h1 class="logo-title">

                AMS

            </h1>

            <h2>

                Login to Your Account

            </h2>

            <p>

                Welcome back! Please login to continue.

            </p>
            {% if messages %}

        {% for message in messages %}

            <div class="alert alert-warning">

                {{ message }}

            </div>

        {% endfor %}

    {% endif %}


            <form method="POST" autocomplete="off">

                {% csrf_token %}

                <!-- Username -->

                <div class="input-box">

                    <i class="bi bi-person"></i>

                    {{ form.username }}

                </div>

                <!-- Password -->

                <div class="input-box">

                    <i class="bi bi-lock"></i>

                    {{ form.password }}

                </div>

                <!-- Button -->

                <button
                    type="submit"
                    class="login-btn"
                >

                    Login

                </button>

            </form>

            <p class="register-text">

                {% comment %} Don't have an account?

                <a href="/accounts/register/">

                    Register {% endcomment %}

                </a>

            </p>

        </div>

        <!-- RIGHT SIDE -->

        <div class="login-right">

            <div class="right-content">

                <h2>

                    Attendance Management System 

                </h2>

                <p>

                    Manage attendance, students,
                    teachers and reports efficiently.

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}